@import "tailwindcss";
@import "./tokens.css";

@source "../**/*.{ts,html}";

html,
body {
  font-family: var(--font-sans);
  color: var(--color-neutral-900);
  background: var(--color-neutral-0);
  margin: 0;
  padding: 0;
}
